<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/cabecalho') %>
    <title>Gym Academy - Cadastro</title>
</head>
<body style="background-color: rgb(41, 40, 40);">
       <%- include('../partials/header') %>

        <div class="jumbotron" style="background-color: transparent;" >
          <div class="container p-4 bg-secondary" style=" width: 30%;">
          
            <h2>Sign-in</h2>
            <p>Lista de usuários Cadastrados no sistema.</p>            
            

                <form action="/cadastrarDados" method="POST">
                    <%
                    let indices = Object.keys(users[0])
                    
                    for(let item=1; item < indices.length; item++){ %>
                    
                        <div class="form-group ">
                            <label for="<%= indices[item] %>"> <%= indices[item] %> </label>
                            <input id="<%= indices[item] %>" class="form-control" name="<%= indices[item] %>"  placeholder="<%= indices[item] %>"  style="width: 75%;" />
                        </div>
                    
                    <% } %>
            
                    <button type="submit" class="btn btn-primary" style="margin-left: 40%;">Enviar</button>
                </form>
          </div>
        </div>




        <script type="text/javascript">
                console.log("usuário cadastrados até o momento: "+users);


        </script>

</body>
</html>